@model EvaluationWebApplication.Models.ViewModels.TimeEntryViewModel

<div>
    <h4>TimeEntryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RetrieveTimeEntry.AllClients)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetrieveTimeEntry.AllEmployeeServices) @*prawdkopodobnie bedzie trzeba usunac*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetrieveTimeEntry.EmployeeList)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetrieveTimeEntry.AllEmployeeServices)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetrieveTimeEntry.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetrieveTimeEntry.EndDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           
                
            
        </tbody>
    </table>
</div>
