@model IEnumerable<EvaluationWebApplication.Models.CFT.TimeEntry>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakeUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if(Model != null) { 
@foreach (var item in Model) {
        <tr>
            <td>
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                @*@Html.DisplayFor(modelItem => item.Date)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)  
                @Html.DisplayFor(modelItem => item.EmployeeSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Contract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakeUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.EntryID">Edit</a> |  Temporary unavailable. TODO in javaScript*@
                @*<a asp-action="Details" asp-route-id="@item.EntryID">Details</a> |*@
                <a asp-action="Delete" asp-controller="Time" asp-route-id="@item.EntryID">Delete</a>
            </td>
        </tr>
}
}
    </tbody>
</table>
